<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home webpage</title>
</head>
<body>
	{{> header}}
	<!-- welcomeMessage cia kaip argumentas screamIt funkcijai pasiduoda -->
	<p>{{screamIt welcomeMessage}}</p>

	{{> footer}}
</body>
</html>